<div class="container">

  <img src="./assets/unknight.png" class="img-fluid" alt="A unicorn saying 'WTF BBQ?', seeing three boxes with labels 'unknow unknow', 'know unknow' and 'know know'">

  <h3 class="display-1">Ooops!</h3>
  <h1> I think you are lost, <a class="btn btn-sm btn-primary" routerLink="/">click here</a> and go to a more safe place...</h1>

  <small class="text-muted">
    This art is a work of <a href="http://www.deniseyu.io/art">Denise Yu</a> and you can know the 
    <a href="https://storage.googleapis.com/denise-yu-art-assets/Art/sketchnotes/talk-based/charity-majors-chaos-and-observability.png">
      original art
    </a>. 

    See this if are you interested about 
    <a href="https://www.urbandictionary.com/define.php?term=WTFBBQ">
      what WTF BBQ means?
    </a>
  </small>

</div>