<div class="container">

  <div class="row">

    <div class="col-12 col-lg-5 col-xl-5 p-0 mt-3">

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">
        </div>
        <div class="p-2 flex-fill text-center">
          a
        </div>
        <div class="p-2 flex-fill text-center">
          b
        </div>
        <div class="p-2 flex-fill text-center">
          c
        </div>
        <div class="p-2 flex-fill text-center">
          d
        </div>
        <div class="p-2 flex-fill text-center">
          e
        </div>
        <div class="p-2 flex-fill text-center">
          f
        </div>
        <div class="p-2 flex-fill text-center">
          g
        </div>
        <div class="p-2 flex-fill text-center">
          h
        </div>
        <div class="p-2 flex-fill text-center">
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">8</div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="a8">
          a8
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="b8">
          b8
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="c8">
          c8
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="d8">
          d8
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="e8">
          e8
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="f8">
          f8
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="g8">
          g8
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="h8">
          h8
        </div>
        <div class="p-2 flex-fill text-center">8</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">7</div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="a7">
          a7
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="b7">
          b7
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="c7">
          c7
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="d7">
          d7
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="e7">
          e7
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="f7">
          f7
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="g7">
          g7
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="h7">
          h7
        </div>
        <div class="p-2 flex-fill text-center">7</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">6</div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="a6">
          a6
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="b6">
          b6
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="c6">
          c6
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="d6">
          d6
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="e6">
          e6
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="f6">
          f6
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="g6">
          g6
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="h6">
          h6
        </div>
        <div class="p-2 flex-fill text-center">6</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">5</div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="a5">
          a5
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="b5">
          b5
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="c5">
          c5
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="d5">
          d5
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="e5">
          e5
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="f5">
          f5
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="g5">
          g5
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="h5">
          h5
        </div>
        <div class="p-2 flex-fill text-center">5</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">4</div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="a4">
          a4
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="b4">
          b4
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="c4">
          c4
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="d4">
          d4
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="e4">
          e4
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="f4">
          f4
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="g4">
          g4
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="h4">
          h4
        </div>
        <div class="p-2 flex-fill text-center">4</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">3</div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="a3">
          a3
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="b3">
          b3
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="c3">
          c3
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="d3">
          d3
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="e3">
          e3
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="f3">
          f3
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="g3">
          g3
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="h3">
          h3
        </div>
        <div class="p-2 flex-fill text-center">3</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">2</div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="a2">
          a2
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="b2">
          b2
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="c2">
          c2
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="d2">
          d2
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="e2">
          e2
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="f2">
          f2
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="g2">
          g2
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="h2">
          h2
        </div>
        <div class="p-2 flex-fill text-center">2</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">1</div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="a1">
          a1
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="b1">
          b1
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="c1">
          c1
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="d1">
          d1
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="e1">
          e1
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="f1">
          f1
        </div>
        <div class="p-2 black flex-fill text-center" (click)="selected($event)" id="g1">
          g1
        </div>
        <div class="p-2 white flex-fill text-center" (click)="selected($event)" id="h1">
          h1
        </div>
        <div class="p-2 flex-fill text-center">1</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill text-center">
        </div>
        <div class="p-2 flex-fill text-center">
          a
        </div>
        <div class="p-2 flex-fill text-center">
          b
        </div>
        <div class="p-2 flex-fill text-center">
          c
        </div>
        <div class="p-2 flex-fill text-center">
          d
        </div>
        <div class="p-2 flex-fill text-center">
          e
        </div>
        <div class="p-2 flex-fill text-center">
          f
        </div>
        <div class="p-2 flex-fill text-center">
          g
        </div>
        <div class="p-2 flex-fill text-center">
          h
        </div>
        <div class="p-2 flex-fill text-center">
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-6 p-0 mt-1 p-4">
      <h2> How it works? </h2>
      <p> This a easy game, choice a square in the chess board, and click in the button "get two turn", and we can show you all posible paths todo.</p>

      <button class="btn btn-sm btn-warning p-2 mb-2" type="button" (click)="route($event)" [disabled]="!selectedSquare">get two turn route<strong *ngIf="selectedSquare"> for {{selectedSquare}}</strong></button>

      <p> To restart the game click on restart button </p>

      <button class="btn btn-sm btn-success p-2 mb-2" type="button" (click) ="restart()" [disabled]="!selectedSquare">restart</button>
    </div>

  </div>

</div>